body {
    background-image: url("/public/background.jpg");
    color: #000000;
    background-attachment: fixed;
    background-repeat: repeat-x;
}

.img-container {
    position:relative;
    padding-top:66.59%;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
}

.row_main {
    margin-top: 30px;
}

.h_image {
    margin-bottom: 20px;
}

.h_select {
    margin-bottom: 25px;
}

.select {
    margin-bottom: 30px;
}

.h_kernel {
    margin-bottom: 25px;
}

.input_range {
    margin-bottom: 15px;
}

.div_gradient {
    margin-bottom: 20px;
}